#about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#about-text{
  max-width: 40rem;
}
#about img {
  margin:2rem ;
  max-height: 28rem;
}
#about p {
  margin:2rem 0;
  text-align:start;
}
#about h1 {
  margin:2rem 0;
  text-align:center;
}
th:first-child{
  text-align: start;
  width: 6rem;
}
td{
  padding:0.8rem
}

@media screen and (max-width: 600px) {
  #about p {
   font-size:14px;
   text-align:justify;
  
  }
  #about-text{
    margin: 0 1rem;
  }
  #about img {
    margin:0 ;
    width: 100%;
  }
}
